@media (max-width: 414px){ 

@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');   

.card {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-family: 'Fugaz One';
    

}
.cardmedia {
    height: 150px;
    width: 100%;
    font-family: 'Fugaz One';


}
.cardContent {
        width: 88%;
        height: 30vh;
        margin: 5px;
        word-wrap: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;

}
.btn {
    font-family: 'Fugaz One';
    color: #17778C;
    
}
#action-area {
    height: 90%;
}

.cardContent > h2 {
    font-size: 14pt;
    font-family: 'Fugaz One';
}
.cardContent > p {
    font-size: 12pt;
    width: 99%;
}
input {
    width: 90%;
    height: 10%;
}
.cardbtns{
    height: 10%;
    width: 100%;
}
.btns {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}
}
@media (min-width: 415px) and (max-width: 768px){ 

@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');   


.card {
    height: 90%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    font-family: 'Fugaz One';


    

}
.cardmedia {
    height: 150px;
    width: 100%;
    font-family: 'Fugaz One';


}

#action-area {
    height: 90%;
}
.cardContent {
    width: 88%;
    height: 38vh;
    margin-left: 10px;
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

}
.cardbtns{
    height: 10%;
    width: 100%;
}
.btn {
    font-family: 'Fugaz One';
    color: #17778C;
    
}

.btns {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}

.cardContent > h2 {
    font-size: 14pt;
    font-family: 'Fugaz One';
}
.cardContent > p {
    font-size: 12pt;
    width: 99%;
}
input {
    width: 90%;
    height: 10%;
}
}
@media (min-width: 769px){ 

    @import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');   
    
    .card {
        height: 90%;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: justify;
        font-family: 'Fugaz One';
    
    
        
    
    }
    .cardmedia {
        height: 50%;
        width: 100%;
        font-family: 'Fugaz One';
    
    
    }
    
    #action-area {
        height: 90%;
    }
    .cardContent {
        width: 88%;
        height: 38vh;
        margin-left: 10px;
        word-wrap: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    
    }
    .cardbtns{
        height: 10%;
        width: 100%;
    }
    .btn {
        font-family: 'Fugaz One';
        color: #17778C;
        
    }
    
    .btns {
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        height: 100%;
        width: 100%;
    }
    
    .cardContent > h2 {
        font-size: 14pt;
        font-family: 'Fugaz One';
    }
    .cardContent > p {
        font-size: 12pt;
        width: 99%;
    }
    input {
        width: 90%;
    }
}    